:root {
    /* Colors */
    --mainColor: #000;
    --secundaryColor: #fff;
    --tertiaryaColor: #1ED760;
    --cuartenaryColor: #677DB7;
    --mainColorSecunadary: #1B1B1B;
    /* Fonts */
    --principalFont: 'Source Sans Pro', sans-serif;
}

html {
    box-sizing: border-box;
    font-size: 62.5%;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}


/* Globals */

body {
    font-size: 1.6rem;
}

a {
    font-family: var(--principalFont);
    color: var(--secundaryColor);
    font-size: 2rem;
    text-decoration: none;
}

a:hover {
    color: var(--tertiaryaColor);
    font-weight: bold;
}

h1,
h2 {
    text-align: center;
    font-family: var(--principalFont);
}

h1 {
    font-size: 6rem;
    color: var(--cuartenaryColor);
}

h2 {
    font-size: 4rem;
    color: var(--cuartenaryColor);
}

p {
    font-size: 1.8rem;
    font-family: Arial, Helvetica, sans-serif;
    color: var(--principalFont);
    text-align: center;
    margin-block-start: 0.8rem;
    margin-block-end: 0.8rem;
    margin-inline-start: 0rem;
    margin-inline-end: 0rem;
}

@media (min-width: 1400px) {
    h1 {
        font-size: 7rem;
    }
    h2 {
        font-size: 5rem;
    }
    p {
        font-size: 3rem;
    }
}

@media (min-width: 1920px) {
    h1 {
        font-size: 8rem;
    }
    h2 {
        font-size: 6rem;
    }
}

.center {
    justify-content: center;
}

.container {
    position: relative;
    width: 100%;
    min-height: calc(100vh - 36px - 6.4rem);
    background-image: url(../img/fondo.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position-x: center;
    background-position-y: center;
}

@media (max-width: 1150px) {
    .container {
        min-height: calc(100vh - 36px - 60px);
    }
}

@media (max-width: 768px) {
    .container {
        min-height: calc(100vh - 36px - 45px);
    }
}

.button {
    font-family: var(--principalFont);
    background-color: var(--mainColor);
    color: var(--secundaryColor);
    padding: 1rem;
    border: none;
    border-radius: 1rem;
}

@media (min-width: 1400px) {
    .button {
        font-size: 3rem;
    }
}

.display {
    display: none!important;
}


/* Material Icons */

.material-icons {
    margin-top: 2%;
    font-size: 2.5rem;
    text-decoration: none;
    color: var(--secundaryColor);
}

.material-symbols-outlined {
    color: var(--secundaryColor);
    font-variation-settings: 'FILL' 0, 'wght' 400, 'GRAD' 0, 'opsz' 48
}


/* Header */

.header {
    background-color: var(--mainColor);
    padding: 1.5rem 3rem;
    display: flex;
    justify-content: space-between;
}

.header__link {
    font-family: var(--principalFont);
    color: var(--secundaryColor);
    font-size: 3rem;
    font-weight: bold;
}

.menu__responsive--buttom,
.menu__responsive--block {
    display: none;
}

@media (max-width:768px) {
    .header {
        padding: 0;
        flex-direction: column;
        justify-content: center;
    }
    .header__link {
        font-size: 6rem;
    }
    .menu__responsive {
        padding: 1rem;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }
    .menu__responsive--buttom {
        display: flex;
        align-items: center;
    }
    .menu__responsive--block {
        display: flex;
        flex-direction: row;
    }
    .menu__responsive--login,
    .menu__responsive--search {
        display: flex;
        align-items: center;
    }
}

@media (max-width: 1300px) {
    .header__link {
        font-size: 2.3rem;
    }
}


/* Navegation */

.nav {
    margin: 0% 10%;
    display: flex;
    justify-content: center;
    gap: 1rem;
}

.nav__link {
    display: flex;
    align-items: center;
}

.nav__link--active {
    color: var(--tertiaryaColor);
    font-weight: bold;
}

@media (min-width: 1580px) {
    .nav__link {
        font-size: 3rem;
    }
}

@media (max-width: 768px) {
    .nav {
        margin: 0;
        padding: 0rem;
        background-color: var(--mainColorSecunadary);
        display: none;
        flex-direction: column;
    }
    .nav a {
        color: var(--secundaryColor);
    }
    .nav a:hover {
        color: var(--tertiaryaColor);
    }
    .nav__link {
        color: var(--secundaryColor);
        padding: 1rem;
    }
    .show {
        padding: 1rem;
        display: flex;
    }
}


/* Search */

.search {
    width: 15rem;
}

#search {
    font-family: var(--principalFont);
    color: var(--secundaryColor);
}

.search__input {
    width: 15rem;
    vertical-align: middle;
    white-space: nowrap;
    position: relative;
    border: none;
}

.search__input input#search {
    width: 100%;
    height: 3rem;
    border: none;
    font-size: 1.5rem;
    float: left;
    color: #63717f;
    padding: 0 3rem;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}

.search__input .search__icon {
    position: absolute;
    margin-left: 0.5rem;
    margin-top: 0.25rem;
    color: var(--mainColor);
}

@media (max-width: 768px) {
    .search {
        display: none;
    }
}


/* Users */

.users {
    margin: 0 0 0 2%;
}

.users__input {
    display: flex;
    align-items: center;
}

.users__link {
    font-family: var(--principalFont);
    color: var(--secundaryColor);
    font-size: 2rem;
}

@media (max-width: 768px) {
    .users {
        display: none;
    }
}

@media (min-width: 1920px) {
    .users {
        margin: 0 0 0 5%;
    }
    .users__link {
        font-size: 3rem;
    }
    .users__input span {
        font-size: 3rem;
    }
}


/* Main Index*/

.main__container {
    display: grid;
    grid-template-columns: 50% 50%;
}

.main__container--img img {
    position: absolute;
    width: 50%;
    height: 100%;
}

.main__container--text {
    margin: 6% 1%;
    text-align: center;
}

.main__container--text h1,
h2 {
    margin: 1%;
}

.main__container--button {
    margin: 4% 1%;
}

@media (max-width: 768px) {
    .main__container {
        display: flex;
    }
    .main__container--img {
        display: none;
    }
}


/* Main Songs */

.songs__container {
    display: flex;
    flex-direction: column;
}

.songs__container--title {
    background-color: var(--mainColorSecunadary);
    display: flex;
    flex-direction: column;
    margin: 2rem 20rem 1rem 20rem;
    border-radius: 4rem;
    padding: 2rem;
}

.songs__container--title h1 {
    color: var(--tertiaryaColor);
    display: flex;
    flex-direction: column;
    font-size: 3rem;
    margin: 0;
}

.songs__container--title h2 {
    color: var(--secundaryColor);
    font-size: 2rem;
    margin: 0;
}

.songs__container--text {
    display: flex;
    width: 100%;
}

.songs__container--text h2 {
    color: var(--mainColorSecunadary);
    text-align: left;
    font-size: 2.5rem;
    margin: 2rem 0rem 2rem 3rem;
}

.songs__container--text .material-icons {
    color: var(--mainColorSecunadary);
}

.songs__container--song {
    display: grid;
    margin: 1rem;
    grid-template-columns: 20% 20% 20% 20% 20%;
}

.songs__autor--name {
    color: var(--tertiaryaColor)!important;
}

.songs__autor--name:hover {
    color: var(--cuartenaryColor)!important;
}

.galeria-item {
    margin: 1rem 3rem;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
}

.galeria-item a {
    color: var(--mainColor);
    font-weight: bold;
}

.galeria-item a:hover {
    color: var(--tertiaryaColor);
    font-weight: bold;
}

.galeria-item img {
    border-radius: 1rem;
    width: 200px;
    min-height: 200px;
    margin-bottom: 3rem;
    -webkit-box-shadow: 15px 9px 25px 5px var(--mainColor);
    -moz-box-shadow: 15px 9px 25px 5px var(--mainColor);
    box-shadow: 15px 9px 25px 5px var(--mainColor);
}

.add__song {
    display: flex;
    align-items: center;
}

.expand {
    display: none
}

@media (max-width:1050px) {
    .songs__container--song {
        display: grid;
        grid-template-columns: 25% 25% 25% 25%;
        flex-direction: column;
    }
    .galeria-item img {
        width: 150px;
        min-height: 150px;
        margin-bottom: 2rem;
    }
}

@media (max-width:780px) {
    .songs__container--title {
        display: flex;
        flex-direction: column;
        margin: 2rem 2rem 1rem 2rem;
        border-radius: 4rem;
        padding: 2rem;
    }
    .songs__container--song {
        display: grid;
        grid-template-columns: 33.3% 33.3% 33.3%;
        flex-direction: column;
    }
    .galeria-item img {
        width: 130px;
        min-height: 130px;
        margin-bottom: 1.5rem;
    }
}

@media (max-width:480px) {
    .songs__container--song {
        display: grid;
        grid-template-columns: 50% 50%;
        flex-direction: column;
    }
    .galeria-item img {
        width: 100px;
        min-height: 100px;
        margin-bottom: 1rem;
    }
    .songs__container--text h2 {
        text-align: left;
        font-size: 2.5rem;
        margin: 2rem 0rem 2rem 2rem;
    }
}


/* Chors Song */

.container-song {
    position: relative;
    width: 100%;
    min-height: calc(100vh - 36px - 6.4rem);
    background-color: #1B1B1B;
    background-size: cover;
    background-repeat: no-repeat;
    background-position-x: center;
    background-position-y: center;
}

.chords-song {
    margin: 0;
}

.chords-song__container--text {
    background-color: var(--mainColor);
    border-bottom-left-radius: 1rem;
    border-bottom-right-radius: 1rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 0rem 10rem;
}

.chords-song__container--img img {
    margin: 1rem;
    height: 130px;
    width: 130px;
    border-radius: 1rem;
}

.song-video {
    display: flex;
    align-items: center;
}

.chords-song__container--title {
    display: flex;
    flex-direction: column;
    margin: 1rem;
}

.chords-song__container--title h1 {
    color: var(--secundaryColor);
    display: flex;
    font-size: 4rem;
    flex-direction: column;
    margin: 0.1rem;
}

.chords-song__container--title a {
    color: var(--tertiaryaColor);
    text-align: center;
    font-size: 2rem;
}

.icon-song {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.icon-fav,
.icon-play,
.icon-share {
    margin: 0.2rem;
    display: flex;
    align-items: center;
}

.chords-song__chords {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.chords-song__chords--text {
    max-width: 100%;
    min-width: 80%;
    background-image: url(../img/banner-g5720a0f26_1920.jpg);
    color: var(--mainColorSecunadary);
    margin: 3rem 0rem;
    padding: 5rem;
    border-radius: 2rem;
    text-align: center;
}

.chords-song__chords--text p {
    max-width: 100%;
    text-align: left;
    line-height: 1rem;
    font-size: 2rem;
    margin: 0rem;
}

@media (max-width: 1150px) {
    .container-song {
        min-height: calc(100vh - 36px - 60px);
    }
}

@media (max-width: 768px) {
    .container-song {
        min-height: calc(100vh - 36px - 46px);
    }
    .chords-song__chords--text p {
        text-align: left;
        line-height: 0rem;
        font-size: 1.5rem;
        margin: 0rem;
        padding: 0rem;
    }
    .song-video {
        display: none
    }
}

@media (max-width: 495px) {
    .chords-song__container--text {
        margin: 0rem 1rem;
    }
    .chords-song__container--title h1 {
        font-size: 3rem;
    }
    .chords-song__container--title h2 {
        font-size: 1.5rem;
    }
    .chords-song__chords--text p {
        text-align: left;
        line-height: 0rem;
        font-size: 1rem;
        margin: 0rem;
        padding: 0rem;
    }
    .song-video {
        display: none
    }
}


/* Main Arts */

.arts__container {
    display: flex;
    flex-direction: column;
}

.arts__container--title {
    background-color: var(--mainColor);
    display: flex;
    flex-direction: column;
    margin: 1rem;
    margin: 2rem 20rem 1rem 20rem;
    border-radius: 4rem;
    padding: 2rem;
}

.arts__container--title h1 {
    color: var(--tertiaryaColor);
    display: flex;
    font-size: 3rem;
    flex-direction: column;
    margin: 0rem;
}

.arts__container--title h2 {
    color: var(--secundaryColor);
    font-size: 2rem;
    margin: 0;
}

.arts__container--text {
    display: flex;
    width: 100%;
}

.arts__container--text h2 {
    color: var(--mainColorSecunadary);
    text-align: left;
    font-size: 2.5rem;
    margin: 2rem 0rem 2rem 3rem;
}

.arts__container--text .material-icons {
    color: var(--mainColorSecunadary);
}

.arts__container--song {
    display: grid;
    margin: 1rem;
    grid-template-columns: 20% 20% 20% 20% 20%;
}

.galeria__item--arts {
    margin: 1rem 3rem;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
}

.galeria__item--arts img {
    border-radius: 14rem;
    width: 150px;
    min-height: 150px;
    -webkit-box-shadow: 15px 9px 25px 5px var(--mainColor);
    -moz-box-shadow: 15px 9px 25px 5px var(--mainColor);
    box-shadow: 15px 9px 25px 5px var(--mainColor);
}

.galeria__item--arts a {
    color: var(--mainColor);
    font-weight: bold;
    margin: 1rem;
    font-size: 2.5rem;
}

.galeria__item--arts a:hover {
    color: var(--tertiaryaColor);
}

.add__song {
    display: flex;
    align-items: center;
}

.expand {
    display: none
}

@media (max-width:1050px) {
    .arts__container--song {
        display: grid;
        grid-template-columns: 25% 25% 25% 25%;
        flex-direction: column;
    }
    .galeria__item--arts img {
        width: 150px;
        min-height: 150px;
    }
    .galeria__item--arts a {
        font-size: 2.5rem;
    }
}

@media (max-width:780px) {
    .arts__container--title {
        margin: 2rem 2rem 1rem 2rem;
    }
    .arts__container--song {
        display: grid;
        grid-template-columns: 33.3% 33.3% 33.3%;
        flex-direction: column;
    }
    .galeria__item--arts img {
        width: 130px;
        min-height: 130px;
    }
    .galeria__item--arts a {
        font-size: 3rem;
    }
}

@media (max-width:480px) {
    .arts__container--song {
        display: grid;
        grid-template-columns: 50% 50%;
        flex-direction: column;
    }
    .galeria__item--arts img {
        width: 100px;
        min-height: 100px;
    }
    .galeria__item--arts a {
        font-size: 2.5rem;
    }
    .arts__container--text h2 {
        margin: 2rem 0rem 2rem 2rem;
    }
}


/* Chors arts */

.chords-art {
    margin: 0;
}

.chords-art__container--text {
    background-color: var(--mainColor);
    border-bottom-left-radius: 1rem;
    border-bottom-right-radius: 1rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 0rem 10rem;
}

.chords-art__container--img img {
    border-radius: 14rem;
    margin: 1rem;
    height: 130px;
    width: 130px;
}

.art-video {
    display: flex;
    align-items: center;
}

.chords-art__container--title {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 1rem;
}

.chords-art__container--title h1 {
    color: var(--tertiaryaColor);
    display: flex;
    font-size: 4rem;
    flex-direction: column;
    margin: 0.1rem;
}

.chords-art-list__container--text h2 {
    color: var(--tertiaryaColor);
    font-size: 3.5rem;
}

.icon-art {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.icon-art .icon-fav span {
    color: var(--white);
}

.icon-art .icon-share span {
    color: var(--white);
}

.chords-art__chords {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.chords-art__chords--text {
    max-width: 100%;
    background-color: var(--white);
    color: var(--secundaryColor);
    margin: 3rem 0rem;
    padding: 5rem;
    border-radius: 2rem;
    text-align: justify;
    -webkit-box-shadow: 15px 9px 25px 5px var(--secundaryColor);
    -moz-box-shadow: 15px 9px 25px 5px var(--secundaryColor);
    box-shadow: 15px 9px 25px 5px var(--secundaryColor);
}

.chords-art__chords--text p {
    max-width: 100%;
    text-align: left;
    line-height: 1rem;
    font-size: 2rem;
    margin: 0rem;
}

.art__container--list {
    display: grid;
    margin: 1rem 10rem;
    grid-template-columns: 25% 25% 25% 25%;
}

.galeria-listsong {
    margin: 1rem 3rem;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
}

.galeria-listsong img {
    border-radius: 1rem;
    width: 200px;
    min-height: 200px;
    margin-bottom: 1rem;
}

.galeria-listsong a {
    font-weight: bold;
    font-size: 2rem;
}

@media (max-width:1050px) {
    .art__container--list {
        grid-template-columns: 33.3% 33.3% 33.3%;
    }
    .galeria-listsong img {
        width: 180px;
        min-height: 180px;
    }
}

@media (max-width: 768px) {
    .art__container--list {
        grid-template-columns: 50% 50%;
    }
    .chords-art__chords--text p {
        text-align: left;
        line-height: 0rem;
        font-size: 1.5rem;
        margin: 0rem;
        padding: 0rem;
    }
    .art-video {
        display: none
    }
    .galeria-listsong img {
        border-radius: 1rem;
        width: 150px;
        min-height: 150px;
    }
    .chors-art-list__container--text h2 {
        margin: 1rem 10rem;
        font-size: 3rem;
    }
}

@media (max-width: 495px) {
    .art__container--list {
        margin: 1rem 2rem;
    }
    .galeria-listsong img {
        border-radius: 1rem;
        width: 130px;
        min-height: 130px;
    }
    .chords-art__container--text {
        margin: 0rem 1rem;
    }
    .chords-art__container--title h1 {
        font-size: 3rem;
    }
    .chords-art__container--title h2 {
        font-size: 1.5rem;
    }
    .chords-art__chords--text p {
        text-align: left;
        line-height: 0rem;
        font-size: 1rem;
        margin: 0rem;
        padding: 0rem;
    }
    .art-video {
        display: none
    }
    .chors-art-list__container--text h2 {
        margin: 1rem 1rem;
    }
}


/* Main Login */

.aplication-form {
    width: min(60rem, 100%);
    margin: 0 auto;
    padding: 2rem;
    border-radius: 2rem;
}

.field-container {
    display: grid;
    grid-template-rows: auto, auto, 20rem;
    column-gap: 1rem;
}

.field {
    margin-bottom: 1rem;
}

.field label {
    font-weight: bold;
    display: block;
    font-size: 2rem;
    margin-bottom: .5rem;
}

.input-text,
.input-password {
    background-color: var(--mainColor);
    width: 100%;
    border: none;
    padding: 1.5rem;
    border-radius: 1rem;
    font-family: var(--principalFont);
    color: var(--secundaryColor);
}

.aplication-form fieldset {
    border: none;
    color: var(--secundaryColor);
}

.flex {
    display: grid;
    margin: 1rem;
}


/* Main Us */

.us__container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.us__containerRow {
    width: 70%;
    display: flex;
    gap: 5rem;
    margin: 2% 10%;
    text-align: center;
}

.us__containerRow--history {
    width: 70%;
    display: flex;
    flex-direction: row-reverse;
    gap: 5rem;
    margin: 2% 10%;
    text-align: center;
}

.us__containerRow-title {
    width: 80%;
    height: 80px;
    background-color: var(--mainColorSecunadary);
    display: flex;
    flex-direction: column;
    margin: 2rem 20rem 1rem 20rem;
    border-radius: 4rem;
    text-align: center;
    justify-content: center;
}

.us__containerRow-title h1 {
    font-size: 3rem;
    color: var(--tertiaryaColor);
}

.us__containerRow--p p,
.us__containerRow2--p p {
    text-align: left;
    margin-top: 5%;
}

.us_containerRow--img img {
    width: 350px;
    height: 350px;
}

.us__containerRow2 {
    display: flex;
    flex-direction: column;
    gap: 5rem;
    margin: 2% 10%;
}

.us__containerRow-title h2 {
    font-size: 3rem;
    color: var(--tertiaryaColor);
}

.us__containerRow2--video video {
    background-color: var(--black);
}

@media (max-width: 495px) {
    .us__containerRow h1,
    h2 {
        font-size: 3.5rem;
    }
    .us__containerRow--p p,
    .us__containerRow2--p p {
        font-size: 1.5rem;
        line-height: 2rem;
    }
}

@media (max-width: 768px) {
    .us__container {
        display: flex;
        flex-direction: column;
    }
    .us__containerRow {
        display: flex;
        flex-direction: column;
        gap: 2rem;
    }
    .us_containerRow--img img {
        width: 200px;
        height: 200px;
    }
    .us__containerRow h1 {
        margin: 1%;
    }
    .us__containerRow--history {
        display: flex;
        flex-direction: column-reverse;
        gap: 2rem;
    }
    .us__containerRow2 h2 {
        order: 1;
    }
}


/* Nav Profile */

.profile__container {
    display: grid;
    grid-template-columns: 30% 70%;
}

.profile__details {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    background-color: var(--mainColor);
    padding: 2rem;
    margin: 5% 2%;
    max-height: 100%;
    border-radius: 1rem;
}

.profile__details img {
    width: 7rem;
    height: 7rem;
    border-radius: 3.5rem;
}

.profile__details h2 {
    color: var(--tertiaryaColor);
    font-size: 3rem;
}

.profile__details--nav {
    display: flex;
    flex-direction: column;
    text-align: left;
    gap: 0.5rem;
    margin: 10%;
}

.nav__div {
    height: 10%;
    width: 110%;
    margin: 3%;
    display: flex;
}

.nav__div span {
    align-self: flex-end;
    font-size: 3rem;
    margin: 0 2%;
}

.nav__div a {
    align-self: flex-end;
}

@media (max-width: 840px) {
    .profile__container {
        display: flex;
        flex-direction: column;
    }
    .profile__details {
        display: block;
        width: 95%;
    }
    .profile__details--nav {
        margin: 0%;
    }
    .nav__div {
        margin: 1%;
        border-color: var(--mainColor);
        max-width: 100%;
    }
    .nav__div a {
        font-size: 2rem;
        color: var(--secundaryColor);
    }
}


/* Profile main */

.profile__main {
    background-color: var(--mainColor);
    padding: 2rem;
    margin: 5% 2%;
    max-height: 100%;
    border-radius: 1rem;
}


/* Profile details */

.profile__container-description p {
    margin: 2rem;
    color: var(--secundaryColor);
}

.profile__main--text h2 {
    color: var(--tertiaryaColor);
}

.profile__container--details p {
    color: var(--secundaryColor);
    margin-left: 2rem;
    display: flex;
    flex-direction: column;
    text-align: left;
}

.profile__container--details h2 {
    color: var(--tertiaryaColor);
    font-size: 3rem;
}

.button__container--details {
    margin: 5rem;
    justify-content: center;
    display: flex;
    gap: 2rem;
}

.button__container--details a {
    background-color: var(--tertiaryaColor);
    color: var(--mainColor);
}


/* Footer */

.footer {
    width: 100%;
    background-color: var(--mainColor);
    padding: 1rem;
}

.footer__container p {
    line-height: 0rem;
    color: var(--secundaryColor);
}


/*  */